.buttonZoneName {
    background-color: rgba(0,0,0,0);
    width: auto;
}
.buttonAvailable {
    fill-opacity: 1;
}

.buttonActive {
    color: #3daee9;
    fill-opacity: 1;
}

.buttonInactive {
    fill-opacity: 0.33;
}

.sliderGroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
    text-align: center;
}

.sliderValue {
    width: 25%;
}

.sliderInput {
    width: 75%;
}

@media screen and (orientation:portrait) {
    #containerCoverImage {
        position: absolute;
        top: 0px;
        right: 0px;
        left: 0px;
        height: 59%;
    }

    #containerMusicInfo {
        position: absolute;
        bottom:0px;
        left: 0px;
        right: 0px;
        height: 40%;
        text-align: center;
    }

    .itemImage {
        border-radius: 0;
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (orientation:landscape) {
    #containerCoverImage {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 49%;
    }

    #containerMusicInfo {
        position: absolute;
        top: 54px;
        bottom: 0px;
        right: 0px;
        width: 49%;
        text-align: left;
    }

    .itemImage {
        border-radius: 10px;
        max-width: 98%;
        max-height: 98%;
    }
}

#containerCoverImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

#colorBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

#notPlaying {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#containerMusicInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lineMusicInfo {
    height: 10%;
    margin-bottom: 1%;
}

#controlsPlayer {
    height: 20%;
    max-height: 96px;
    margin-bottom: 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

#controlsSettings {
    height: 10%;
    max-height: 48px;
    margin-bottom: 5%;
    display:flex;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

#containerTrackSeek {
    height: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#containerZoneList {
    height: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

#trackSeek {
    width: 95%;
    height: 5px;
    border-radius: 10px;
    background-color: rgba(239, 240, 241, 0.33);
    position: relative;
    display: block;
    padding: 0;
    align-self: center;
}

#trackSeekValue {
    height: 5px;
    background-color: #3daee9;
    border-radius: 10px;
    padding: 0;
    width: 0%;
}

#trackSeekValue span {
    position: absolute;
    bottom: -15px;
    width: 50%;
    margin: 0;
    line-height: 10px;
    font-size: 10px;
}

#trackSeekValue span.right {
    text-align: right;
    right: 0;
}

#trackSeekValue span.left {
    text-align: left;
    left: 0;
}

#notPlaying {
    background-color: #232629;
    color: #eff0f1;
}

input[type=range] {
    height: 25px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background-color: rgba(0,0,0,0);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3daee9;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3daee9;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #3daee9;
    border-radius: 10px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #3daee9;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
    background: #3daee9;
    border: 0px solid #000000;
    border-radius: 2px;
    box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #232629;
    border: 1px solid #232629;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #eff0f1;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #3daee9;
}
input[type=range]:focus::-ms-fill-upper {
    background: #3daee9;
}
