body {
    font-family: sans-serif;
    background-color: #232629;
    color: #eff0f1;
}

button {
    outline:0;
    border: none;
}

button:focus {
    outline:0;
    border: none;
}

svg {
    width: auto;
    height: 100%;
    fill: currentColor;
}

.buttonOverlay {
    width: 96px;
    height: 48px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
    margin: 24px;
    background-color: #eff0f1;
    color: #232629;
}

.buttonOverlay:active {
    transform: translateY(4px);
    filter:none;
}

.buttonFillHeight {
    background-color: rgba(0,0,0,0);
    height: 100%;
}

.fullscreenFlex {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.messages {
    max-width: 90%;
    font-size:5vw;
    align-self: center;
    text-align:center;
}

.overlay {
    display:none;
}

.overlayBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.75);
    z-index:200;
}

.overlayContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232629;
    color: #eff0f1;
    width: auto;
    height: auto;
    min-width: 50%;
    max-height: 95%;
    max-width: 95%;
    border-radius: 10px;
    padding: 5px;
    filter: drop-shadow(10px 10px 10px black);
    z-index:300;
}

.overlayList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


.textBold {
    font-weight: bold;
}

.textCenter {
    text-align: center;
}
