body {
    font-family: sans-serif;
}

.buttonTrans {
    background-color: rgba(0,0,0,0);
    border: none;
}

.buttonTrans:focus {
    outline:0;
}

.svgSmall {
    width:48px;
    height:48px;
}

.svgMedium {
    width: 72px;
    height:72px;
}

.svgLarge {
    width: 96px;
    height: 96px;
}

#notPlaying {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messages {
    font-size:5vw;
}

#isPlaying {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

#coverBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%) blur(20px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
}

#coverImageDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 51%;
    bottom: 106px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#coverImage {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px black);
}

#musicInfo {
    position: absolute;
    top: 0px;
    left: 50%;
    right: 5px;
    bottom: 106px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vmin;
}

#musicInfo div {
    margin: 0;
    padding: 0;
    margin-bottom: 3vmin;
}

#musicInfo div#line1 {
    font-size: larger;
    font-weight: bold;
}

#musicInfo div#line4 {
    font-size: 50%;
    text-align: center;
}

#trackSeek {
    height: 5px;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

#trackSeekValue {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #3daee9;
    border-radius: 10px;
}

#zoneControl {
    position:absolute;
    left: 0px;
    right: 51%;
    bottom: 10px;
    height: 96px;
    display: flex;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

#zoneControl div {
    width: 33%;
}

#playbackControls {
    position:absolute;
    left: 50%;
    right: 0px;
    bottom: 10px;
    height: 96px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.75);
    display:none;
}

.overlayContentAlign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
}

.overlayContent {
    align-self: center;
    width: auto;
    height: auto;
    min-width: 50%;
    border-radius: 10px;
    padding: 5px;
    filter: drop-shadow(10px 10px 10px black);
}

.overlayContent p {
    font-size: 150%;
    font-weight: bold;
}

.overlayContent button {
    width: 96px;
    height: 96px;
    font-weight: bold;
}

.overlayList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

#overlayVolume {

}
