:root {
  --ThemeColor: rgb(44, 62, 80);
  --BaseColor: rgb(35, 38, 41);
  --AvailableColor: rgb(239, 240, 241);
  --ActiveColor: rgb(41, 128, 185);
  --DisabledColor: rgba(239, 240, 241, 0.25);
  --TransparentColor: rgba(0, 0, 0, 0.75);
  --TransparentActiveColor: rgba(41, 128, 185, 0.25);
}

body {
  background: var(--BaseColor);
  color: var(--AvailableColor);
  font-family: sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-size: 100%;
}

h1 {
  font-size: 200%;
}
