body {
    font-family: sans-serif;
    background-color: #232629;
    color: #eff0f1;
}

svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
}

.buttonTrans {
    background-color: rgba(0,0,0,0);
    border: none;
}

.buttonTrans:focus {
    outline:0;
}

.buttonOverlay {
    width: 96px;
    height: 48px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    filter: drop-shadow(5px 5px 5px black);
    margin: 5px;
}

.buttonOverlay:focus {
    outline:0;
}

.buttonStatusBar {
    background-color: rgba(0,0,0,0);
    height: 36px;
    width: 36px;
    border: none;
}

.buttonMedium {
    width: 72px;
    height:72px;
}

.buttonLarge {
    width: 96px;
    height: 96px;
}

.messages {
    font-size:5vw;
}

.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0,0,0,0.75);
    display:none;
    z-index:200;
}

.overlayContentAlign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
    text-align: center;
    height: 100%;
    width: 100%;
}

.overlayContent {
    align-self: center;
    width: auto;
    height: auto;
    min-width: 50%;
    border-radius: 10px;
    padding: 5px;
    filter: drop-shadow(10px 10px 10px black);
}

.overlayList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-top:12px;
    margin-bottom:12px;
}

.overlayListLabel {
    font-weight: bold;
    width: 100%;
}

.selected {
    color: #3daee9;
}

#statusBar {
    position: absolute;
    top: 0px;
    left: 49%;
    right: 60px;
    height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 75%;
}

#clock {
    font-weight: bold;
}

#menuButton {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 54px;
    width: 54px;
    z-index:100;
}

#notPlaying {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#isPlaying {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

#coverBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(50%) blur(20px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
}

#colorBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

#coverImageDiv {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 51%;
    bottom: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#coverImage {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 95%;
    object-fit: contain;
    border-radius: 10px;
    filter: drop-shadow(10px 10px 10px black);
}

#musicInfo {
    position: absolute;
    top: 54px;
    left: 50%;
    right: 5px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5vmin;
}

#musicInfo div {
    margin: 0;
    padding: 0;
    margin-bottom: 3vmin;
}

#musicInfo div#line1 {
    font-size: larger;
    font-weight: bold;
}

#musicInfo div#line5 {
    font-size: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

#trackSeek {
    height: 5px;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

#trackSeekValue {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: #3daee9;
    border-radius: 10px;
}

#musicInfo div#playbackControls {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    vertical-align: middle;
}
#libraryBrowser {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
